:root {
  --logo-text-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #fff;
  --hover-focus-color: #2196f3;
  --hero-footer-color: #2f303a;
  --features-bcg-color: #e5e5e5;
  --team-bcg-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 60%);
}
/* стили index.html */
body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header .logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-item {
  color: var(--hover-focus-color);
}

.header {
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

/* sait-nav */
.sait-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}
.sait-nav .link.current {
  color: var(--hover-focus-color);
}

.sait-nav .link:hover,
.sait-nav .link:focus {
  color: var(--hover-focus-color);
}
.contact .item {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contact .item:hover,
.contact .item:focus {
  color: var(--hover-focus-color);
}

/* hero section */
.hero {
  background-color: var(--hero-footer-color);
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
}
.hero .text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
}
.hero .button {
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
/* features-section */
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}

.features .subtitle {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.features .headline {
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
}
/* team section */
.team {
  background-color: var(--team-bcg-color);
}

.team .headline {
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team .text {
  color: var(--primary-text-color);
  line-height: 1.2;
}

/* footer section */
.footer {
  background-color: var(--hero-footer-color);
}
.footer .logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.footer .text {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer .link {
  color: var(--footer-contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--hover-focus-color);
}

/* стили portfolio.html */

.filter-section .button {
  background-color: var(--team-bcg-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.filter-section .button:hover,
.filter-section .button:focus {
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
}
.project h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
